@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(10px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

.fade-in {
    filter: blur(10px);
    animation: fadeIn 0.1s ease-in forwards;
}