@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

[cmdk-input-wrapper], [cmdk-input] {
    font-size: var(--nextui-font-size-small);
    line-height: var(--nextui-line-height-small);
    min-height: 2rem;
    height: 2rem;
    --tw-border-opacity: 1;
    border-color: hsl(var(--nextui-default-200) / var(--nextui-default-200-opacity, var(--tw-border-opacity)));
    border-width: var(--nextui-border-width-medium);
    border-radius: var(--nextui-radius-small);
}

[cmdk-list] {
    max-height: 100px;
    transition: height 100ms ease;
    scroll-padding-block-start: 8px;
    scroll-padding-block-end: 8px;
}